.array-container {
    position: absolute;
    top: 50px;
}

/* Width, height, and <number> of ints will dictate how it looks per screen */
.array-bar{
    width: 2px;
    background-color: turquoise;
    display: inline-block;
    margin: 0 1 px;
}

div {
    width: 100vw;
    height: 100vh;
}