body {
  background-color: #292A40;
}
.App {
  text-align: center;
}

.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35px;
}

.container {
  margin: 5em 0 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}

.card {
  border-radius: 2em;
  padding: 0 1em;
  background-color: #9197AE;
  position: relative;
  bottom: 40px;
}

.controller  {
  display:inline-block;
	
	font:normal normal 300 1.3em 'Open Sans';
	text-decoration:none;	

	color: #3d898d;
	background-color: #292A40;
	border:1px solid #3d898d;
	border-radius:100px;
	
	padding: .3em 1.2em;
	margin:5px;
			
	background-size: 200% 100%;	
	background-image: linear-gradient(to right, transparent 50%, #3d898d 50%);
	transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

 .controller:hover{
	color: black;
	background-color:black;
	background-position: -100% 100%;
 }

  /*
  display: block;
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border: none;
  outline: none;
  border-radius: 4px;
  */


.control-buttons {
  height: 4em;
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-panel {
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  bottom: 50px;

}

.title {
  height: 140px;
  color: whitesmoke;
  background-color: #192733;
  font-size: 75px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;  
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  position: relative;
  bottom: 8px;
}

select {
  display:inline-block;
	
	font:normal normal 300 1.15em 'Open Sans';
	text-decoration:none;	
	
	color: #3d898d;
	background-color:transparent;
	border:1px solid #3d898d;
	border-radius:100px;
	
	padding: .3em 1.2em;
	margin:5px;
}
