.App {
  text-align: center;
}

/* T R B L*/
/* TB RL */
.frame {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 5em 0 5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
}

.card {
  border-radius: 2em;
  padding: 0 1em;
  background-color: #818181;
}

.controller {
  background: #555;
  margin: 0 1em;
  border: 1px solid;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-buttons {
  height: 4em;
  width: 15em;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  position: relative;
  bottom: 8px;
}
